<%= form_for(@club) do |f| %>
<article class="main banner two">
    <div class="row">
      <div class="sixcol">
      </div>
      <div class="sixcol last">
        <%= render :partial => "clubs/quote_container", :locals => { :f => f } %>

        <div class="attribution one">
          <p>Photo Attribution: <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/" class="white">Some rights reserved</a> by <a href="http://www.flickr.com/photos/everywhereatonce/" class="white">everywhereATonce</a>.</p>
        </div>
        <div class="attribution two">
          <p>Photo Attribution: <a href="http://creativecommons.org/licenses/by/2.0/" class="white">Some rights reserved</a> by <a href="http://www.flickr.com/photos/kentgoldman/" class="white">kentgoldman</a>.</p>
        </div>
      </div>
    </div>
  </article>
  <article id="info" class="bg-red container second">
    <div class="row">
      <div class="twelvecol">
        <h1 class="white"><%= f.text_field :about_headline, :class => 'top-text', :placeholder => 'Home Headline' %></h1>
      </div>
    </div>
    <div class="row">
      <div class="sevencol">
        <div class="hero-image">&nbsp;</div>
      </div>
      <div class="fivecol last">
        <%= f.text_area :about_body, :class => 'top-text', :placeholder => '<h2 class="white">Fun is the Golden Rule</h2> Description of the club goes here' %>
      </div>
    </div>
    <% if !(@tweets.empty?) %>
    <div class="row tweets">
      <div class="twelvecol">
        <h2 class="white">Recent <a href="https://twitter.com/<%= @club.twitter %>" class="yellow">@<%= @club.twitter %></a> Tweets</h2>
      </div>
    </div>
    <div class="row">
    <% i = 0 %>
    <% @tweets.each do |tweet| %>
      <% break if i == 3 %>        
        <% if i == 2 %>
          <div class="fourcol tweet last">
        <% else %>
          <div class="fourcol tweet">
        <% end %>
          <div class="body gray">
            <%= auto_link(tweet.body.to_s) %>
          </div>
        </div>
    <% i += 1 %>
    <% end %>
    </div>
    <% end %> 
  </article>
<% end %>