<article class="row">
  <div class="sixcol">
    <h1 style='margin-top:50px'>Sign in</h1>
    <div class="faux-hr"></div>

    <%= form_for(:session, url: sessions_path) do |f| %>
      <dl class="form-dl">
        <dt class="form-dt"><%= f.label :email %></dt>
        <dd class="form-dd"><%= f.text_field :email %></dd>

        <dt class="form-dt"><%= f.label :password %></dt>
        <dd class="form-dd"><%= f.password_field :password %></dd>

        <dt class="button-dt"></dt>
        <dd class="button-dd"><%= f.submit "Sign in", class: "btn btn-large btn-primary" %></dd>
      </dl>
        
    <% end %>
  </div>
  <div class="onecol"></div>
  <div class="fivecol last bgDark">

  </div>
</article>