  <article class="main banner">
    <div class="row">
      <div class="sixcol">
      </div>
      <div class="sixcol last">
        <div class="quote-container">
          <h1 class="red">Are you a Spoke Geek?</h1>
          
          <p class="gray">Spoke Geek is a casual bike club which promotes cycling as part of a healtier, more stress-free, start-up lifestyle. Everyone is free to join us on our group rides and on Strava.</p> 
          <p class="founder-quote gray">&ldquo;I guarantee it&rsquo;ll make you smile to go out and ride your bike! You might even enjoy it so much that you forget how good it is for you.&rdquo; - Wil Everts, SG Founder</p>
          <p class="gray">Sign up below to get ride and event alerts via email (<em>we promise not to spam you or sell your information</em>.)</p>

          <div class="mailchimp">
            <form action="http://powderenvy.us2.list-manage.com/subscribe/post?u=9455618a19fa33f9c97d56019&amp;id=a3cbfa7871" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <ul class="tri-form clearfix">
                <li class="left"><h2><label for="mce-EMAIL" class="gray">Email</label></h2></li>
                <li class="left"><input type="email" value="" name="EMAIL" class="text-input" id="mce-EMAIL"></li>
                <li class="left last"><input type="submit" value="Let&rsquo;s Ride!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-red white"></li>
              </ul>
            </form>
          </div>

          <h3 class="gray">Next Group Ride:</h3>

          <ul class="orgs ribbon">
            <li class="bullet gray hide"><strong>Saturday Spandex (~40-60 Miles)</strong><br>Meets every first and third Saturday at 10am in front of the Ferry Building.</li>
            <li class="bullet gray"><strong>Critical Lunch (~22 Miles)</strong> <span class="sub">Meets the last Friday of the month at 12:15pm in front of the Ferry Building. Come join us for a quick butter lap and get those pasty engineer&rsquo;s legs some sun!</span></li>
          </ul>
        </div>

        <div class="attribution">
          <p>Photo Attribution: <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/" class="white">Some rights reserved</a> by <a href="http://www.flickr.com/photos/everywhereatonce/" class="white">everywhereATonce</a>.</p>
        </div>
      </div>
    </div>
  </article>
  <article id="info" class="bg-red container second">
    <div class="row">
      <div class="twelvecol">
        <h1 class="white">Spoke Geek Cycling Club</h1>
      </div>
      <div class="sevencol">
        <div class="hero-image">&nbsp;</div>
      </div>
      <div class="fivecol last">
        <h2 class="white">Fun is the Golden Rule</h2>
        <p><strong>Spoke Geek</strong> is a casual bike club. Some of us are weekend warriors in spandex, others are commuters in jeans. We just like to get together to burn calories, drink beer, talk semicolons, increase our heart rates, bitch about our catered lunches (not enough bacon, too much bacon, GLUTEN), and work on our farmer&rsquo;s tans.</p>
        <p>We are an all-volunteer, not-for-profit organization. All proceeds from sponsorships, merch, etc go to:</p>
        <ul class="orgs">
          <li class="bullet"><strong>SF Bicycle Coalition</strong> to help them continue to advocate for our rights as cycists.</li>
          <li class="bullet"><strong>Electronic Frontier Foundation</strong> to help them continue to advocate for our rights as technologists.</li>
        </ul>
        <p>For information, sponsorships, partnerships, press, and questions please email <a href="mailto:spokes@luckynerds.com" class="yellow">spokes@luckynerds.com</a>
      </div>

    </div>
  </article>
  <article id="merch" class="third bg-white container">
    <div class="row">
      <div class="twelvecol">
        <h1 class="blue">Merchandise</h1>
      </div>
    </div>
    <div class="row">
      <div class="fourcol">
        <h2>2012 Club Jersey<br><span class="sub-text">Custom Designed Capo Corsa Jersey</span></h2>
        <p>The Spoke Geek inagural cycling jersey was designed by Wil Everts using the popular Capo Corsa Jersey. Only the first 49 to reserve will get the special &ldquo;First 49&rdquo; version of the jersey and a &ldquo;First 49&rdquo; badge on their profile! After that this text will be replaced by &ldquo;2012&rdquo; on the jersey.</p> 

        <h3>OMG!! Reserve Yours Now!</h3>
        <p>Reserve your <strong>first-year</strong> Spoke Geek jersey for only $89 and rep hard-core for life, bro! Jerseys will be ordered on June 1st, but you can ensure we have one in your size by reserving your&rsquo;s beforehand! USPS Shipping included (within the Continental US only). All sizes are Men&rsquo;s.</p>

        <form>
          <ul class="buy-now clearfix">
            <li class="price red">$89</li>
            <li>
              Size: 
              <select>
                <option value="xs">X-Small</option>
                <option value="s">Small</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>
                <option value="xl">X-Large</option>
                <option value="xxl">XX-Large</option>
              </select>
            </li>
            <li>
              Qty: 
              <input type="text" name="qty" value="1" class="qty" />
            </li>
            <li class="last"><button class="btn btn-blue buy-now-btn">Buy Now!</button></li>
          </ul>
        </form>
      </div>
      <div class="eightcol last">
        <img class="product-img" src="/assets/bike-jersey.png" alt="2012 Lucky Nerds Bike Club Jersey">
      </div>
    </div>
  </article>
  <article id="stats" class="container bg-blue fourth">
    <div class="row">
      <div class="twelvecol">
        <h1 class="white">Ride Statistics, Powered by Strava</h1>
      </div>
    </div>
    <div class="row">
      <div class="threecol">
        <h2 class="white">Club Totals</h2>
        <img src="/assets/stat-mileage.png" class="stat-icon">
        <h3 class="white">This Month</h3>
        <ol class="white">
          <li>Total Miles <%= number_with_precision(@total_miles_month, :precision => 1) if @total_miles_month %></li>
          <li>Commute Miles <%= number_with_precision(@commute_miles_month, :precision => 1) if @commute_miles_month %></li>
          <li>Longest Ride <%= number_with_precision(@longest_ride_month, :precision => 1) if @longest_ride_month %> <%= '(' + @longest_rider_month.to_s + ')' if @longest_rider_month %></li>
        </ol>
        <h3 class="white">All Time</h3>
        <ol class="white">
          <li>Total Miles - <%= number_with_precision(@total_miles, :precision => 1) if @total_miles %></li>
          <li>Commute Miles - <%= number_with_precision(@commute_miles, :precision => 1) if @commute_miles %></li>
          <li>Longest Ride - <%= number_with_precision(@longest_ride, :precision => 1) if @longest_ride %> <%= '(' + @longest_rider.to_s + ')' if @longest_rider %></li>
        </ol>
      </div>
      <div class="threecol">
        <h2 class="white">Most Vertical</h2>
        <img src="/assets/stat-vert.png" class="stat-icon">
        <h3 class="white">Individual Riders</h3>
        <ol class="white">
          <li>Adam Pisoni - 99,387 feet</li>
          <li>Wil Everts - 99,387 feet</li>
          <li>Bob Remeika - 99,387 feet</li>
        </ol>
        <h3 class="white">Start-up Teams</h3>
        <ol class="white">
          <li>Strava - 599,387 feet</li>
          <li>Yammer - 599,387 feet</li>
          <li>Change.org - 599,387 feet</li>
        </ol>
      </div>
      <div class="threecol">
        <h2 class="white">Most Points*</h2>
        <img src="/assets/stat-points.png" class="stat-icon">
        <h3 class="white">Individual Riders</h3>
        <ol class="white">
          <li>Adam Pisoni  - 1,800</li>
          <li>Wil Everts  - 1,800</li>
          <li>Bob Remeika  - 1,800</li>
        </ol>
        <h3 class="white">Start-up Teams</h3>
        <ol class="white">
          <li>Strava  - 180,000</li>
          <li>Yammer  - 180,000</li>
          <li>Change.org  - 180,000</li>
        </ol> 
      </div>
      <div class="threecol last">
        <h2 class="white">Fastest</h2>
        <img src="/assets/stat-fastest.png" class="stat-icon">
        <h3 class="white">Individual Riders</h3>
        <ol class="white">
          <li>Adam Pisoni - 15.8mph avg</li>
          <li>Wil Everts - 15.8mph avg</li>
          <li>Bob Remeika - 15.8mph avg</li>
        </ol>
        <h3 class="white">Start-up Teams</h3>
        <ol class="white">
          <li>Strava - 15.8mph avg</li>
          <li>Yammer - 15.8mph avg</li>
          <li>Change.org - 15.8mph avg</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="sixcol">&nbsp;</div>
      <div class="sixcol last">
        <p class="white footnote"><strong>*Points: 1 Mile or 100 Vertical feet per point</strong></p>
      </div>
    </div>
    </div>
    <div class="row">
    </div>
  </article>