<article class="main banner two">
    <div class="row">
      <div class="sixcol">
      </div>
      <div class="sixcol last">
        <%= render "club/quote_container" -%>

        <div class="attribution one">
          <p>Photo Attribution: <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/" class="white">Some rights reserved</a> by <a href="http://www.flickr.com/photos/everywhereatonce/" class="white">everywhereATonce</a>.</p>
        </div>
        <div class="attribution two">
          <p>Photo Attribution: <a href="http://creativecommons.org/licenses/by/2.0/" class="white">Some rights reserved</a> by <a href="http://www.flickr.com/photos/kentgoldman/" class="white">kentgoldman</a>.</p>
        </div>
      </div>
    </div>
  </article>
  <article id="info" class="bg-red container second">
    <div class="row">
      <div class="twelvecol">
        <h1 class="white">Spoke Geek Cycling Club</h1>
      </div>
    </div>
    <div class="row">
      <div class="sevencol">
        <div class="hero-image">&nbsp;</div>
      </div>
      <div class="fivecol last">
        <h2 class="white">Fun is the Golden Rule</h2>
        <p><strong>Spoke Geek</strong> is a casual bike club. Some of us are weekend warriors in spandex, others are commuters in jeans. We just like to get together to burn calories, drink beer, talk semicolons, increase our heart rates, bitch about our catered lunches (not enough bacon, too much bacon, GLUTEN), and work on our farmer&rsquo;s tans.</p>
        <p>We are an all-volunteer, not-for-profit organization. All proceeds from sponsorships, merch, etc go to:</p>
        <ul class="orgs">
          <li class="bullet"><strong>SF Bicycle Coalition</strong> to help them continue to advocate for our rights as cycists.</li>
          <li class="bullet"><strong>Electronic Frontier Foundation</strong> to help them continue to advocate for our rights as technologists.</li>
        </ul>
        <p>For information, sponsorships, partnerships, press, and questions please email <a href="mailto:your@cousinwil.com" class="yellow">your@cousinwil.com</a>
      </div>
    </div>
    <div class="row tweets">
      <div class="twelvecol">
        <h2 class="white">Recent <a href="https://twitter.com/spokegeek" class="yellow">@SpokeGeek</a> Tweets</h2>
      </div>
    </div>
    <div class="row">
      <div class="fourcol tweet">
        <div class="body gray">
          My Marin Double Century packet arrived! #nervous #excited <a href="http://instagr.am/p/NcxJEMK0Bl/">http://instagr.am/p/NcxJEMK0Bl/</a>
        </div>
      </div>
      <div class="fourcol tweet">
        <div class="body gray">
          Blew out the sidewall of my tire in no man's land... <a href="http://instagr.am/p/NZJvR2q0OP/">http://instagr.am/p/NZJvR2q0OP/</a>
        </div>
      </div>
      <div class="fourcol tweet last">
        <div class="body gray">
          My Santa Barbara wheels have arrived! BMC Team Machine SLT01 <a href="http://instagr.am/p/NL39HDK0Bn/">http://instagr.am/p/NL39HDK0Bn/</a>
        </div>
      </div>
    </div>
  </article>
  <article id="merch" class="third bg-white container">
    <div class="row">
      <div class="twelvecol">
        <h1 class="blue">Merchandise</h1>
      </div>
    </div>
    <div class="row">
      <div class="fourcol">
        <h2>2012 Club Jersey<br><span class="sub-text">Custom Designed Capo Corsa Jersey</span></h2>
        <p>The Spoke Geek inagural cycling jersey was designed by @cousinwil using the popular Capo Corsa Jersey. Only the first 49 to reserve will get the special &ldquo;First 49&rdquo; version of the jersey and a &ldquo;First 49&rdquo; badge on their profile! After that this text will be replaced by &ldquo;2012&rdquo;.</p> 

        <h3>Coming Soon!</h3>
        <p>We'll let you know when you can reserve your <strong>first-year</strong> Spoke Geek jersey on the club mailing list! Make sure you're signed up!</p>

        <form style="display:none;">
          <ul class="buy-now clearfix">
            <li class="price red">$89</li>
            <li>
              Size: 
              <select>
                <option value="xs">X-Small</option>
                <option value="s">Small</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>
                <option value="xl">X-Large</option>
                <option value="xxl">XX-Large</option>
              </select>
            </li>
            <li>
              Qty: 
              <input type="text" name="qty" value="1" class="qty" />
            </li>
            <li class="last"><button class="btn btn-blue buy-now-btn">Buy Now!</button></li>
          </ul>
        </form>
      </div>
      <div class="eightcol last">
        <img class="product-img" src="/assets/bike-jersey.png" alt="2012 Lucky Nerds Bike Club Jersey">
      </div>
    </div>
  </article>
  <article id="stats" class="container bg-blue fourth">
    <div class="row">
      <div class="twelvecol">
        <h1 class="white">Ride Statistics, Powered by Strava</h1>
      </div>
    </div>
    <div class="row">
      <div class="threecol">
        <h2 class="white">Club Totals</h2>
        <img src="/assets/stat-mileage.png" class="stat-icon">
        <h3 class="white">This Month</h3>
        <ol class="white">
          <% data = getData(Ride.where('date > ?', Date.today - 28)) %>
          <li>Total Miles - <%= number_with_delimiter(number_with_precision(data[0], :precision => 1)) if data[0] %></li>
          <li>Commute Miles - <%= number_with_delimiter(number_with_precision(data[1], :precision => 1)) if data[1] %></li>
          <li>Longest Ride - <%= number_with_delimiter(number_with_precision(data[2], :precision => 1)) if data[2] %> <%= '(' + data[3].to_s + ')' if data[3] %></li>
        </ol>
      </div>
      <div class="threecol">
        <h2 class="white">Most Vertical</h2>
        <% past_year = (Date.today - 365).to_date %>
        <% past_month = (Date.today - 28).to_date %>
        <% ind_vert = findHighest(method(:findVert), past_month) %>
        <img src="/assets/stat-vert.png" class="stat-icon">
        <h3 class="white">This Month</h3>
        <%= render :partial => 'common/leaderboard_data', :locals => {:data => ind_vert, :units => ' feet', :decimals => 0 } %>
      </div>
      <div class="threecol">
        <h2 class="white">Score*</h2>
        <img src="/assets/stat-points.png" class="stat-icon">
        <h3 class="white">This Month</h3>
        <% high_pts = findHighest(method(:getPoints), past_month) %>
        <%= render :partial => 'common/leaderboard_data', :locals => { :data => high_pts, :units => ' pts', :decimals => 0} %>
      </div>
      <div class="threecol last">
        <h2 class="white">Fastest**</h2>
        <img src="/assets/stat-fastest.png" class="stat-icon">
        <h3 class="white">This Month</h3>
        <% fastest = findHighest(method(:getAveSpeed), past_month) %>
        <%= render :partial => 'common/leaderboard_data', :locals => {:data => fastest, :units => ' mph', :decimals => 2 } %>
      </div>
    </div>
    <div class="row">
      <div class="twelvecol">
      <div class="threecol">
        <h3 class="white">All Time</h3>
        <ol class="white">
          <% data = getData(@rides) %>
          <li>Total Miles - <%= number_with_delimiter(number_with_precision(data[0], :precision => 1)) if data[0] %></li>
          <li>Commute Miles - <%= number_with_delimiter(number_with_precision(data[1], :precision => 1)) if data[1] %></li>
          <li>Longest Ride - <%= number_with_delimiter(number_with_precision(data[2], :precision => 1)) if data[2] %> <%= '(' + data[3].to_s + ')' if data[3] %></li>
        </ol>
      </div>
      <div class="threecol">
        <% ind_vert = findHighest(method(:findVert), past_year) %>
        <h3 class="white">All Time</h3>
        <%= render :partial => 'common/leaderboard_data', :locals => {:data => ind_vert, :units => ' feet', :decimals => 0 } %>
      </div>
      <div class="threecol">
        <h3 class="white">All Time</h3>
        <% high_pts = findHighest(method(:getPoints), past_year) %>
        <%= render :partial => 'common/leaderboard_data', :locals => { :data => high_pts, :units => ' pts', :decimals => 0} %>
      </div>
      <div class="threecol last">
        <h3 class="white">All Time</h3>
        <% fastest = findHighest(method(:getAveSpeed), past_year) %>
        <%= render :partial => 'common/leaderboard_data', :locals => {:data => fastest, :units => ' mph', :decimals => 2 } %>
      </div>        
      </div>
    </div>
    <div class="row">
      <div class="sixcol">&nbsp;</div>
      <div class="threecol">
        <p class="white footnote"><strong>* Points: 1 Mile or 100 Vertical feet per point</strong></p>
      </div>
      <div class="threecol last">
        <p class="white footnote"><strong>** Average Speed</strong></p>
      </div>
    </div>
    </div>
    <div class="row">
    </div>
  </article>