<article class="main banner">
    <div class="row">
      <div class="sixcol">
      </div>
      <div class="sixcol last">
        <div class="quote-container">
          <h1 class="red">Are you a Spoke Geek?</h1>
          
          <p class="founder-quote gray">&ldquo;Riding is a great for getting the heart rate up, exploring new places, chatting with friends... It&rsquo;s like golf. Except it&rsquo;s a workout and I know how to ride a bike.&rdquo; - Wil Everts, Club Founder</p>
          <p class="gray">Spoke Geek is a casual cycling club for SF start-up geeks and friends. All are welcome to join our group rides and Strava. Sign up below to receive the Strava Club password and monthly ride alerts via email (<em>we promise not to spam you or sell your information</em>.)</p>

          <div class="mailchimp">
            <form action="http://powderenvy.us2.list-manage.com/subscribe/post?u=9455618a19fa33f9c97d56019&amp;id=a3cbfa7871" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <ul class="tri-form clearfix">
                <li class="left"><h2><label for="mce-EMAIL" class="gray">Email</label></h2></li>
                <li class="left"><input type="email" value="" name="EMAIL" class="text-input" id="mce-EMAIL"></li>
                <li class="left last"><input type="submit" value="Let&rsquo;s Ride!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-red white"></li>
              </ul>
            </form>
          </div>

          <h3 class="gray">Next Group Ride:</h3>

          <ul class="orgs ribbon">
            <%= render :partial => 'common/event_list' %>

          </ul>
        </div>

        <div class="attribution">
          <p>Photo Attribution: <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/" class="white">Some rights reserved</a> by <a href="http://www.flickr.com/photos/everywhereatonce/" class="white">everywhereATonce</a>.</p>
        </div>
      </div>
    </div>
  </article>
  <article id="info" class="bg-red container second">
    <div class="row">
      <div class="twelvecol">
        <h1 class="white">Spoke Geek Cycling Club</h1>
      </div>
      <div class="sevencol">
        <div class="hero-image">&nbsp;</div>
      </div>
      <div class="fivecol last">
        <h2 class="white">Fun is the Golden Rule</h2>
        <p><strong>Spoke Geek</strong> is a casual bike club. Some of us are weekend warriors in spandex, others are commuters in jeans. We just like to get together to burn calories, drink beer, talk semicolons, increase our heart rates, bitch about our catered lunches (not enough bacon, too much bacon, GLUTEN), and work on our farmer&rsquo;s tans.</p>
        <p>We are an all-volunteer, not-for-profit organization. All proceeds from sponsorships, merch, etc go to:</p>
        <ul class="orgs">
          <li class="bullet"><strong>SF Bicycle Coalition</strong> to help them continue to advocate for our rights as cycists.</li>
          <li class="bullet"><strong>Electronic Frontier Foundation</strong> to help them continue to advocate for our rights as technologists.</li>
        </ul>
        <p>For information, sponsorships, partnerships, press, and questions please email <a href="mailto:spokes@luckynerds.com" class="yellow">spokes@luckynerds.com</a>
      </div>

    </div>
  </article>
  <article id="merch" class="third bg-white container">
    <div class="row">
      <div class="twelvecol">
        <h1 class="blue">Merchandise</h1>
      </div>
    </div>
    <div class="row">
      <div class="fourcol">
        <h2>2012 Club Jersey<br><span class="sub-text">Custom Designed Capo Corsa Jersey</span></h2>
        <p>The Spoke Geek inagural cycling jersey was designed by @cousinwil using the popular Capo Corsa Jersey. Only the first 49 to reserve will get the special &ldquo;First 49&rdquo; version of the jersey and a &ldquo;First 49&rdquo; badge on their profile! After that this text will be replaced by &ldquo;2012&rdquo;.</p> 

        <h3>Coming Soon!</h3>
        <p>We'll let you know when you can reserve your <strong>first-year</strong> Spoke Geek jersey on the club mailing list! Make sure you're signed up!</p>

        <form style="display:none;">
          <ul class="buy-now clearfix">
            <li class="price red">$89</li>
            <li>
              Size: 
              <select>
                <option value="xs">X-Small</option>
                <option value="s">Small</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>
                <option value="xl">X-Large</option>
                <option value="xxl">XX-Large</option>
              </select>
            </li>
            <li>
              Qty: 
              <input type="text" name="qty" value="1" class="qty" />
            </li>
            <li class="last"><button class="btn btn-blue buy-now-btn">Buy Now!</button></li>
          </ul>
        </form>
      </div>
      <div class="eightcol last">
        <img class="product-img" src="/assets/bike-jersey.png" alt="2012 Lucky Nerds Bike Club Jersey">
      </div>
    </div>
  </article>
  <article id="stats" class="container bg-blue fourth">
    <div class="row">
      <div class="twelvecol">
        <h1 class="white">Ride Statistics, Powered by Strava</h1>
      </div>
    </div>
    <div class="row">
      <div class="threecol">
        <h2 class="white">Club Totals</h2>
        <img src="/assets/stat-mileage.png" class="stat-icon">
        <h3 class="white">This Month</h3>
        <ol class="white">
          <% data = getData(Ride.where('date > ?', Date.today - 28)) %>
          <li>Total Miles <%= number_with_precision(data[0], :precision => 1) if data[0] %></li>
          <li>Commute Miles <%= number_with_precision(data[1], :precision => 1) if data[1] %></li>
          <li>Longest Ride <%= number_with_precision(data[2], :precision => 1) if data[2] %> <%= '(' + data[3].to_s + ')' if data[3] %></li>
        </ol>
        <h3 class="white">All Time</h3>
        <ol class="white">
          <% data = getData(Ride.all) %>
          <li>Total Miles - <%= number_with_precision(data[0], :precision => 1) if data[0] %></li>
          <li>Commute Miles - <%= number_with_precision(data[1], :precision => 1) if data[1] %></li>
          <li>Longest Ride - <%= number_with_precision(data[2], :precision => 1) if data[2] %></li><%= '(' + data[3].to_s + ')' if data[3] %>
        </ol>
      </div>
      <div class="threecol">
        <h2 class="white">Most Vertical</h2>
        <% past_year = (Date.today - 365).to_date %>
        <% past_month = (Date.today - 28).to_date %>
        <% ind_vert = Ride.highestVert(past_month) %>
        <img src="/assets/stat-vert.png" class="stat-icon">
        <h3 class="white">This Month</h3>
        <ol class="white">
          <% unless ind_vert[0] == 0 %>
          <li><%= ind_vert[3].to_s + ' - ' + number_with_delimiter(number_with_precision(ind_vert[0], :precision => 0)).to_s + ' feet'%></li>
          <% end %>
          <% unless ind_vert[1] == 0 %>
          <li><%= ind_vert[4].to_s + ' - ' + number_with_delimiter(number_with_precision(ind_vert[1], :precision => 0)).to_s + ' feet' %></li>
          <% end %>
          <% unless ind_vert[2] == 0 %>
          <li><%= ind_vert[5].to_s + ' - ' + number_with_delimiter(number_with_precision(ind_vert[2], :precision => 0)).to_s + ' feet' %></li>
          <% end %>
        </ol>
        <% ind_vert = Ride.highestVert(past_year) %>
        <h3 class="white">All Time</h3>
        <ol class="white">
          <% unless ind_vert[0] == 0 %>
          <li><%= ind_vert[3].to_s + ' - ' + number_with_delimiter(number_with_precision(ind_vert[0], :precision => 0)).to_s + ' feet'%></li>
          <% end %>
          <% unless ind_vert[1] == 0 %>
          <li><%= ind_vert[4].to_s + ' - ' + number_with_delimiter(number_with_precision(ind_vert[1], :precision => 0)).to_s + ' feet' %></li>
          <% end %>
          <% unless ind_vert[2] == 0 %>
          <li><%= ind_vert[5].to_s + ' - ' + number_with_delimiter(number_with_precision(ind_vert[2], :precision => 0)).to_s + ' feet' %></li>
          <% end %>
        </ol>
      </div>
      <div class="threecol">
        <h2 class="white">Score <small>(1 Mile or 100 ft vertical = 1 pt)</small></h2>
        <img src="/assets/stat-points.png" class="stat-icon">
        <h3 class="white">This Month</h3>
        <ol class="white">
          <% high_pts = Ride.highestPts(past_month) %>
          <% unless high_pts[0] == 0 %>
          <li><%= high_pts[3].to_s + ' - ' + number_with_delimiter(number_with_precision(high_pts[0], :precision => 0)).to_s + ' pts'%></li>
          <% end %>
          <% unless high_pts[1] == 0 %>
          <li><%= high_pts[4].to_s + ' - ' + number_with_delimiter(number_with_precision(high_pts[1], :precision => 0)).to_s + ' pts' %></li>
          <% end %>
          <% unless high_pts[2] == 0 %>
          <li><%= high_pts[5].to_s + ' - ' + number_with_delimiter(number_with_precision(high_pts[2], :precision => 0)).to_s + ' pts' %></li>
          <% end %>
        </ol>
        <h3 class="white">All Time</h3>
        <ol class="white">
          <% high_pts = Ride.highestPts(past_year) %>
          <% unless high_pts[0] == 0 %>
          <li><%= high_pts[3].to_s + ' - ' + number_with_delimiter(number_with_precision(high_pts[0], :precision => 0)).to_s + ' pts'%></li>
          <% end %>
          <% unless high_pts[1] == 0 %>
          <li><%= high_pts[4].to_s + ' - ' + number_with_delimiter(number_with_precision(high_pts[1], :precision => 0)).to_s + ' pts' %></li>
          <% end %>
          <% unless high_pts[2] == 0 %>
          <li><%= high_pts[5].to_s + ' - ' + number_with_delimiter(number_with_precision(high_pts[2], :precision => 0)).to_s + ' pts' %></li>
          <% end %>
        </ol> 
      </div>
      <div class="threecol last">
        <h2 class="white">Fastest <small>(average mph)</small></h2>
        <img src="/assets/stat-fastest.png" class="stat-icon">
        <h3 class="white">This Month</h3>
        <ol class="white">
          <% fastest = Ride.highestAveSpeed(past_month) %>
          <% unless fastest[0] == 0 %>
          <li><%= fastest[3].to_s + ' - ' + number_with_delimiter(number_with_precision(fastest[0], :precision => 1)).to_s + ' mph'%></li>
          <% end %>
          <% unless fastest[1] == 0 %>
          <li><%= fastest[4].to_s + ' - ' + number_with_delimiter(number_with_precision(fastest[1], :precision => 1)).to_s + ' mph' %></li>
          <% end %>
          <% unless fastest[2] == 0 %>
          <li><%= fastest[5].to_s + ' - ' + number_with_delimiter(number_with_precision(fastest[2], :precision => 1)).to_s + ' mph' %></li>
          <% end %>
        </ol>
        <h3 class="white">All Time</h3>
        <ol class="white">
          <% fastest = Ride.highestAveSpeed(past_year) %>
          <% unless fastest[0] == 0 %>
          <li><%= fastest[3].to_s + ' - ' + number_with_delimiter(number_with_precision(fastest[0], :precision => 1)).to_s + ' mph'%></li>
          <% end %>
          <% unless fastest[1] == 0 %>
          <li><%= fastest[4].to_s + ' - ' + number_with_delimiter(number_with_precision(fastest[1], :precision => 1)).to_s + ' mph' %></li>
          <% end %>
          <% unless fastest[2] == 0 %>
          <li><%= fastest[5].to_s + ' - ' + number_with_delimiter(number_with_precision(fastest[2], :precision => 1)).to_s + ' mph' %></li>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="sixcol">&nbsp;</div>
      <div class="sixcol last">
        <p class="white footnote"><strong>* Points: 1 Mile or 100 Vertical feet per point</strong></p>
      </div>
    </div>
    </div>
    <div class="row">
    </div>
  </article>